.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container img{
    max-width: 100%;
    padding: 40px;
    margin-top: 50px;
}

#img{
    margin-top: 100px;
}