body{
    font-family: "Sen", sans-serif;
}
#title{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}
#container{
    margin-top: 100px;
}
#conteudo{
    margin-top: 100px;
    margin: auto;
    width: 90%;
}

.montagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.montagem h4{
    margin-left: 20px;
}

.mascara{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px){
    .montagem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .montagem img{
        max-width: 90%;
    }
    .mascara{
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .mascara img{
        max-width: 80%;
    }

}


